* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #872341;
  font-family: Arial, sans-serif;
}

header,
footer {
  width: 100%;
  text-align: center;
  background-color: #09122c;
  color: #fff;
  padding: 10px 0;
}

header h1,
footer p {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  color: #e17564;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.calculator {
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: 10px;
  background-color: #872341;
  margin: 20px 0;
}

.display {
  padding: 20px;
  font-size: 2em;
  background-color: #be3144;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.btn {
  padding: 20px;
  font-size: 1.5em;
  border: none;
  background-color: #e17564;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #d0d0d0;
}
